@use "@carbon/colors" as colors;
@use "@carbon/layout" as layout;

.header-awake {
  background-color: colors.$gray-10; // Light mode background
  color: colors.$gray-100; // Light mode text
}

.header-asleep {
  background-color: colors.$gray-90; // Dark mode background
  color: colors.$white; // Dark mode text
}

.icons {
  font-size: layout.$spacing-05; // Carbon spacing for font size
  font-weight: bold;
}

.responsive-container {
  padding: layout.$spacing-04; // Carbon spacing for padding
  max-width: 100%;
  overflow-x: auto;
}

.table-container {
  margin-top: layout.$spacing-09; // Increased top margin for the table
  margin-bottom: layout.$spacing-05; // Added bottom margin for the table
}

.centered-button {
  margin-top: layout.$spacing-05; // Carbon spacing for margin
  text-align: center;
}

.modal-content {
  background-color: colors.$gray-20; // Modal background color
  padding: layout.$spacing-03; // Carbon spacing for padding
  border-radius: layout.$spacing-02; // Carbon spacing for border radius
}


